<div class="text-center">
  <ul id="filters" class="filters mb-5 mx-auto pl-0">
          <li class="type active mb-3 mb-lg-0" data-filter="*">All</li>
          <li class="type  mb-3 mb-lg-0" data-filter=".webapp">We App</li>
          <li class="type  mb-3 mb-lg-0" data-filter=".mobileapp">Mobile App</li>
          <li class="type  mb-3 mb-lg-0" data-filter=".frontend">Frontend</li>
          <li class="type  mb-3 mb-lg-0" data-filter=".backend">Backend</li>
      </ul><!--//filters-->
</div>