<%= render "_about-me.html", conn: @conn %>
<%= render "_overview.html" %>

<div class="container"><hr /></div>

<%= render "_testimonials.html", conn: @conn%>
<%= render "_featured.html", conn: @conn %>

<div class="container"><hr /></div>

<%= render "_latest-blog.html", conn: @conn %>

