<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Jalen Greene Portfolio" />
    <meta name="author" content="Jalen Greene" />
    <title>Portfolio · Phoenix Framework</title>
    <link rel="stylesheet" href='<%= Routes.static_path(@conn, "/css/app.css") %>'/>
    
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"
      rel="stylesheet"
    />

     <!-- FontAwesome JS -->
    <script defer src='<%= Routes.static_path(@conn, "/fontawesome/js/all.js") %>'></script>

    <!-- Owl Stylesheets -->
    <link
      rel="stylesheet"
      href='<%= Routes.static_path(@conn, "/plugins/owlcarousel/assets/owl.carousel.min.css") %>'
    />
    <link
      rel="stylesheet"
      href='<%= Routes.static_path(@conn, "/plugins/owlcarousel/assets/owl.theme.default.min.css") %>'
    />

    <%= csrf_meta_tag() %>
  </head>
  <body class="dark-mode">
    <%= render "_header.html", conn: @conn%>
    <main role="main" class="main-wrapper">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src='<%= Routes.static_path(@conn, "/js/app.js") %>'></script>
    <script src='<%= Routes.static_path(@conn, "/plugins/jquery-3.4.1.min.js") %>'></script>
    <script src='<%= Routes.static_path(@conn, "/plugins/popper.min.js") %>'></script>
    <script src='<%= Routes.static_path(@conn, "/plugins/bootstrap/js/bootstrap.min.js") %>'></script>
    <script src='<%= Routes.static_path(@conn, "/plugins/owlcarousel/owl.carousel.min.js") %>'></script>
    <script src='<%= Routes.static_path(@conn, "/js/testimonials.js") %>'></script>
  </body>
</html>
